.smFont {
    font-size: 16px;
}

label {
    font-family: var(--font-default);
    font-size: 17px;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 11px;
    margin-top: 11px;
  }

.text-label {
    font-weight: normal;
    font-size: 16px;
  }